torch
torchvision
diffusers
transformers
numpy==1.26.4
accelerate
peft
triton
opencv-python # for controlnet img
ninja # for build
ftfy # for wan mdoel
protobuf
sentencepiece
gradio # for gradio webui
imageio # for video postprocessing
imagehash # for video postprocessing
imageio-ffmpeg # for video postprocessing
aiohttp # gradio server
einops # for sparse attention